# File:        roles/postgres/templates/Pg_hba.conf.j2
# Created:     17.04.2017
# Author:      Thomas Galliker
# Email:       mail@thomasgalliker.net
# Description: Config file generatet by Ansible

{% if postgres_hba is defined %}
{% for entry in postgres_hba %}
{{ entry.type }}  {{ entry.database }}  {{ entry.user }}  {{ entry.address }} {{ entry.method }}
{% endfor %}
{% endif %}

# Default settings
local   all             postgres                                peer 
 
# "local" is for Unix domain socket connections only 
local   all             all                                     peer 
# IPv4 local connections: 
host    all             all             127.0.0.1/32            md5 
# IPv6 local connections: 
host    all             all             ::1/128                 md5 

