<pool type="logical">
  <name>{{ item.name }}</name>
  <source>
{% for device in item.devices %}
    <device path="{{ device.path }}"/>
{% endfor %}
  </source>
  <target>
    <path>/dev/{{ item.name }}</path>
  </target>
</pool>
