// File:        roles/bind/templates/named.conf.local.j2
// Created:     17.04.2017
// Author:      Thomas Galliker
// Email:       mail@thomasgalliker.net
// Description: Config file generatet by Ansible

{% if dns_zones is defined %}
{% for zone in dns_zones %}
zone "{{ zone.name }}" {
        type master;
        file "/var/lib/bind/db.{{ zone.name }}";
};
{% endfor %}
{% endif %}
