/**
 * File:        roles/icinga2-web/templates/ido-psql.conf.j2
 * Created:     17.04.2017
 * Author:      Thomas Galliker
 * Email:       mail@thomasgalliker.net
 * Description: Config file generatet by Ansible
 */

library "db_ido_pgsql"

object IdoPgsqlConnection "ido-pgsql" {
  user = "{{ icinga_postgres_user }}",
  password = "{{ icinga_postgres_password }}",
  host = "localhost",
  database = "{{ icinga_db_name }}"
}

